@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


:root{
  @apply font-poppines box-border max-w-[100%]
}


.heading{
  @apply text-xl font-medium text-heading
}
.diveder{
  position: relative;
}

.diveder::after,.diveder::before{
  position: absolute;
  content: "";
  width: 30%;
  height: 1px;
  top: 50%;
  background-color: rgb(245, 242, 242);
}

.diveder::after{
  top: 50%;
  right: 0;

}
.diveder::before{
  top: 50%;
  left:  0;
  
}




.diveder-mobile{
  position: relative;
}

.diveder-mobile::after,.diveder-mobile::before{
  position: absolute;
  content: "";
  width: 20%;
  height: 1px;
  top: 50%;
  background-color: rgb(245, 242, 242);
}

.diveder-mobile::after{
  top: 50%;
  right: 0;

}
.diveder-mobile::before{
  top: 50%;
  left:  0;
  
}


.therapi-slide .swiper-button-prev {
  
  @apply w-12 h-12 rounded-full bg-primary
}

.therapi-slide .swiper-button-next{
  @apply w-12 h-12 rounded-full bg-primary 
}

.therapi-slide .swiper-button-next::after{
  @apply text-white text-sm  
}
.therapi-slide .swiper-button-prev::after{
  @apply text-white text-sm 
}